---
import type { ResolvedTag } from '@/types'

export interface Props {
  tags: ResolvedTag[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-2 text-sm">
  {
    tags.map(({ tag, icon }) => (
      <a
        class="flex items-center gap-1 rounded-md border border-accent/10 bg-accent/5 px-2 py-0.5 no-underline opacity-70 transition-all duration-300 hover:border-accent/30 hover:bg-accent/10 hover:opacity-100"
        href={`/tags/${tag}`}
      >
        <span class={`iconify text-base ${icon}`} />
        <span class="font-normal">{tag}</span>
      </a>
    ))
  }
</div>
